@import url("./common.css");

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  scroll-behavior: smooth;
}

body {
  display: flex;
}

h1 {
  color: rgb(116, 116, 116);
  font-weight: 300;
  margin: 0.5em 0;
}

form {
  position: relative;
  max-width: 26em;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 2em auto;
  box-shadow: 0 5px 5px lightgrey;
  padding: 1em 2.5em;
  box-sizing: border-box;
}

form:after {
  position: absolute;
  content: "";
  width: 0.7em;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(var(--primary), var(--secondary));
}

input {
  width: 100%;
  padding: 0.4em 0.5em;
  background-color: var(--app-grey);
  border: 1px solid var(--app-grey);
  border-radius: 0.2em;
}

input:focus {
  outline: none;
  border: 1px solid lightgrey;
}

label {
  width: 100%;
  font-weight: 300;
  margin-bottom: -0.1em;
  margin-top: 1em;
  font-size: 0.8em;
}

small {
  display: flex;
  color: red;
  word-wrap: break-word;
}

button {
  padding: 0.5em 3em;
  margin-top: 2em;
  font-weight: 400;
  font-size: 1em;
  background-color: var(--secondary);
  color: #fff;
  transition: .5s ease-in-out;
}

button:disabled {
  background-color: rgb(186, 100, 1);
  color: #fff;
  transition: .5s ease-in-out;
}

.form-header {
  color: grey;
  font-size: 2em;
}
.ingressar {
  text-align: center;
}
.left {
  background-color: white;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 200px;
}
.left img {
  max-width: 380px;
  max-height: 40vh;
}
.right {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row-home {
  height: 100vh;
}

@media screen and (max-width: 750px) {
  .left {
    height: 25vh;
  }
  .left img {
    max-width: 200px;
  }
  .right {
    height: 75%;
  }
  .row-home {
    height: 80vh;
  }
}



.glow-on-hover {
  width: 300px;
  height: 60px;
  border: none;
  outline: none;
  color: #fff;
  background: rgb(249, 105, 44);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: rgb(249, 105, 44);
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(249, 105, 44);
  left: 0;
  top: 0;
  border-radius: 10px;
}
@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}